h1{
font-family: 'Indie Flower', cursive;
font-weight: bolder;
text-align: center;
color: pink;
font-size: 6em;
}
.m1{
	font-family: 'Indie Flower', cursive;
text-align: center;
font-size: 1.5em;
}
.m2{
font-family: 'Pacifico', cursive;
font-weight: bolder;
text-align: center;
font-size: 4em;
color: gold;
}
